<div class="container-fluid main-container">
  <div class="heading">
    <h1 style="margin: 0;">Specification</h1>
  </div>
  <div class="specs-category">
    <div class="specs-header">
      <h2>General</h2>
    </div>
    <div class="spec-data">
      <table>
        <tr>
          <th>In The Box</th>
          <td>{{specs['In The Box']}}</td>
        </tr>
        <br>
        <tr>
          <th>Model Number</th>
          <td>{{specs['Model Number']}}</td>
        </tr>
        <br>
        <tr>
          <th>Model Name</th>
          <td>{{specs['Model Name']}}</td>
        </tr>
        <br>
        <tr>
          <th>Color</th>
          <td>{{specs['Model Number']}}</td>
        </tr>
        <br>
        <tr>
          <th>SIM Type</th>
          <td>{{specs['SIM Type']}}</td>
        </tr>
        <br>
        <tr>
          <th>Hybrid Sim Slot</th>
          <td>{{specs['Hybrid SIM Slot']}}</td>
        </tr>
        <br>
        <tr>
          <th>Model Number</th>
          <td>{{specs['Model Number']}}</td>
        </tr>
        <br>
        <tr>
          <th>Quick Charging</th>
          <td>{{specs['Quick Charging']}}</td>
        </tr>
        <br>
        <tr>
          <th>SAR Value</th>
          <td>{{specs['SAR Value']}}</td>
        </tr>
      </table>
    </div>
  </div>
  <div class="specs-category">
    <div class="specs-header">
      <h2>Display Features</h2>
    </div>
    <div class="spec-data">
      <table>
        <tr>
          <th>In The Box</th>
          <td>{{specs['In The Box']}}</td>
        </tr>
        <br>
        <tr>
          <th>Model Number</th>
          <td>{{specs['Model Number']}}</td>
        </tr>
        <br>
        <tr>
          <th>Model Name</th>
          <td>{{specs['Model Name']}}</td>
        </tr>
        <br>
        <tr>
          <th>Color</th>
          <td>{{specs['Model Number']}}</td>
        </tr>
        <br>
        <tr>
          <th>SIM Type</th>
          <td>{{specs['SIM Type']}}</td>
        </tr>

      </table>
    </div>
  </div>
  <div class="specs-category">
    <div class="specs-header">
      <h2>Os & Processor Features</h2>
    </div>
    <div class="spec-data">
      <table>
        <tr>
          <th>Operating System</th>
          <td>{{specs['Operating System']}}</td>
        </tr>
        <br>
        <tr>
          <th>Processor Type</th>
          <td>{{specs['Processor Type']}}</td>
        </tr>
        <br>
        <tr>
          <th>Processor Core</th>
          <td>{{specs['Processor Core']}}</td>
        </tr>
        <br>
        <tr>
          <th>Primary Clock Speed</th>
          <td>{{specs['Primary Clock Speed']}}</td>
        </tr>
        <br>
        <tr>
          <th>Operating Frequency</th>
          <td>{{specs['Operating Frequency']}}</td>
        </tr>

      </table>
    </div>
  </div>
  <div class="specs-category">
    <div class="specs-header">
      <h2>Memory & Storage Features</h2>
    </div>
    <div class="spec-data">
      <table>
        <tr>
          <th>Internal Storage</th>
          <td>{{specs['Internal Storage']}}</td>
        </tr>
        <br>
        <tr>
          <th>RAM</th>
          <td>{{specs['RAM']}}</td>
        </tr>
        <br>
        <tr>
          <th>Expandable Storage</th>
          <td>{{specs['Expandable Storage']}}</td>
        </tr>
        <br>
        <tr>
          <th>Supported Memory Card Type</th>
          <td>{{specs['Supported Memory Card Type']}}</td>
        </tr>
        <br>
        <tr>
          <th>Memory Card Slot Type</th>
          <td>{{specs['Memory Card Slot Type']}}</td>
        </tr>

      </table>
    </div>
  </div>
  <div class="specs-category">
    <div class="specs-header">
      <h2>Camera Features</h2>
    </div>
    <div class="spec-data">
      <table>
        <tr>
          <th>Primary Camera</th>
          <td>{{specs['Primary Camera']}}</td>
        </tr>
        <br>
        <tr>
          <th>Primary Camera Features</th>
          <td>{{specs['Primary Camera Features']}}</td>
        </tr>
        <br>
        <tr>
          <th>Secondary Camera</th>
          <td>{{specs['Secondary Camera']}}</td>
        </tr>
        <br>
        <tr>
          <th>Secondary Camera Features</th>
          <td>{{specs['Secondary Camera Features']}}</td>
        </tr>


      </table>
    </div>
  </div>
  <div class="specs-category">
    <div class="specs-header">
      <h2>Connectivity Features</h2>
    </div>
    <div class="spec-data">
      <table>
        <tr>
          <th>Network Type</th>
          <td>{{specs['Network Type']}}</td>
        </tr>
        <br>
        <tr>
          <th>Supported Networks</th>
          <td>{{specs['Supported Networks']}}</td>
        </tr>
        <br>
        <tr>
          <th>Internet Connectivity</th>
          <td>{{specs['Internet Connectivity']}}</td>
        </tr>
        <br>
        <tr>
          <th>Charging Port</th>
          <td>{{specs['Charging Port']}}</td>
        </tr>
        <br>
        <tr>
          <th>Audio Jack</th>
          <td>{{specs['Audio Jack']}}</td>
        </tr>


      </table>
    </div>
  </div>
  <div class="specs-category">
    <div class="specs-header">
      <h2>Other Details</h2>
    </div>
    <div class="spec-data">
      <table>
        <tr>
          <th>Touchscreen Type</th>
          <td>{{specs['Touchscreen Type']}}</td>
        </tr>
        <br>
        <tr>
          <th>SIM Size</th>
          <td>{{specs['SIM Size']}}</td>
        </tr>
        <br>
        <tr>
          <th>User Interface</th>
          <td>{{specs['User Interface']}}</td>
        </tr>
        <br>
        <tr>
          <th>Removable Battery</th>
          <td>{{specs['Removable Battery']}}</td>
        </tr>
        <br>
        <tr>
          <th>Graphics PPI</th>
          <td>{{specs['Graphics PPI']}}</td>
        </tr>
        <br>
        <tr>
          <th>Sensors</th>
          <td>{{specs['Sensors']}}</td>
        </tr>
        <br>
        <tr>
          <th>Other Features</th>
          <td>{{specs['Other Features']}}</td>
        </tr>


      </table>
    </div>
  </div>
  <div class="specs-category">
    <div class="specs-header">
      <h2>Multimedia Features</h2>
    </div>
    <div class="spec-data">
      <table>
        <tr>
          <th>Audio Formats</th>
          <td>{{specs['Audio Formats']}}</td>
        </tr>
        <br>
        <tr>
          <th>Video Formats</th>
          <td>{{specs['Video Formats']}}</td>
        </tr>

      </table>
    </div>
  </div>
  <div class="specs-category">
    <div class="specs-header">
      <h2>Battery & Power Features</h2>
    </div>
    <div class="spec-data">
      <table>
        <tr>
          <th>Battery Capacity</th>
          <td>{{specs['Battery Capacity']}}</td>
        </tr>

      </table>
    </div>
  </div>
  <div class="specs-category">
    <div class="specs-header">
      <h2>Dimensions</h2>
    </div>
    <div class="spec-data">
      <table>
        <tr>
          <th>Width</th>
          <td>{{specs['Width']}}</td>
        </tr>
        <br>
        <tr>
          <th>Height</th>
          <td>{{specs['Height']}}</td>
        </tr>
        <br>
        <tr>
          <th>Depth</th>
          <td>{{specs['Depth']}}</td>
        </tr>
        <br>
        <tr>
          <th>Weight</th>
          <td>{{specs['Weight']}}</td>
        </tr>

      </table>
    </div>
  </div>
</div>
